@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3 {
  text-align: left;
  font-size: 55px;
  margin: 20px;
}

h1 {
  border-bottom: 1px solid;
}

p {
  margin: 20px;
}
p>img {
  width: 80%;
  display: block;
  margin-top: 50px;
  
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img{
  margin: 0 auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    animation:cubic-bezier(0.075, 0.82, 0.165, 1)
}
.text-anime{
    transition: .6s;
}
.text-anime.text-show{
    transform: none;
}

.slider-anime{
    transition: .8s;
}
.slider-anime.slider-show{
    opacity:1;
    transform: none;
}
.slider-div {
    padding: 50px 10px 5px 10px;
}
.portforio{
    transform: translateY(-200px);
}
.wrap {
    /* background-color: rgb(224, 18, 217); */

    /* background-image: linear-gradient(to right bottom, #414040, #444242, #5c5957, #b6b3b1, #8d7e71, #9c9a97, #918f8e, #595856, #4d4d4c, #463925, #957739, #634602); */
}
.bg-set {
    /* background-image: linear-gradient(to right bottom, #414040, #444242, #5c5957, #b6b3b1, #5b5651, #9c9a97, #918f8e, #595856, #4d4d4c, #463925, #3b3a37, #32312f); */

}

.book-anime {
    opacity: 0;
    transition: 1s;
    transform: translateY(50%);
    /* transition-delay: 1s; */
}

.book-anime.book-show{
    opacity: 1;
    transform: translateY(-20%);
}


.nav-item {
    transition: 1s ;
  
  }
  .show {
    opacity: 1;
    display: block;
    transition: 1s ;
    transform: none;
  
  
  }